@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap%27');

:root {
    --black: #3B3B3B;

    --white: #FFFFFF;

    --primary-blue: #A5B3FF;
    --secondary-blue: #E5EEFF;

    --copy-brown: #6C4801;
    --primary-brown: #FFC044;
    --secondary-brown: #FFF8E4;

    --house-section-blue: #151E50;

    --outer-radius: 1rem;
    --inner-radius: 0.25rem;

    --large-font-size: 2rem; /*32px*/
    --medium-font-size: 1.125rem; /*18px*/
    --small-font-size: 1rem; /*16px*/

    --hover-transition: all 0.3s ease-in-out;

    --shadow: 0px 4px 16px rgba(67, 81, 80, 0.1);
}

.copy-brown {
    color: var(--copy-brown);
}

html{
    scroll-behavior: smooth;
}

i {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    color: var(--house-section-blue);
}

h3 {
    font-size: var(--large-font-size);
    color: var(--black);
    font-weight: bold;
    text-align: center;
    line-height: 2.75rem;
}

h4 {
    font-size: var(--medium-font-size);
    color: #6C4801;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: var(--small-font-size);
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.5px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0px 100px;
    column-gap: 20px;
}

.navbar{
    background-color: var(--white);
    padding: 1.5rem 100px;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    color: var(--black);
    font-weight: bold;
    font-size: var(--large-font-size);
}

.menu{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

.menu-item{
    color: var(--black);
    font-size: var(--small-font-size);
    text-decoration: none;
}

.menu-item:hover {
    color: var(--black);
    transition: var(--hover-transition);
}

button{
    border: none;
    outline: none;
    padding: 15px;
    font-size: var(--small-font-size);
    border-radius: var(--inner-radius);
    cursor: pointer;
    width: fit-content;
}

.primary-brown {
    color: var(--black);
    background-color: var(--primary-brown);
}

.primary-blue {
    color: var(--black);
    background-color: var(--primary-blue);
}

.hero-section {
    min-height: 100vh;
    height: auto;
    padding: 100px 0px;
    align-items: center;
}

.hero-image {
    grid-column: 7/13;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.hero-login {
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: flex-start;
}

.hero-login-img {
    background-image: url('assets//dots hero section.svg');
    background-repeat: no-repeat;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.hero-login-links {
    padding: 0.5rem 0rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.hero-links {
    text-decoration: none;
}

input {
    border: 1px solid var(--primary-blue);
    padding: 1.1rem;
    border-radius: 0.2rem;
    font-size: var(--medium-font-size);
    width: 100%;
}

.hero-login > div:not(:first-of-type) p {
    text-align: left;
}

.hero-login > button {
    align-self: center;
}

.about-section {
    height: auto;
    margin: 0px;
    padding: 100px;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 100px;
}

.about-section-header {
    background-image: url('assets//dots about section.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.about-section-boxes {
    padding: 100px 0px;
    border-radius: var(--inner-radius);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    background-color: var(--secondary-brown);
}

.about-section-boxes-left {
    grid-column: 2/7;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}

.about-section-boxes-right {
    grid-column: 7/12;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}

.about-section-box {
    border-radius: var(--outer-radius);
    padding: 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.house-tours {
    grid-template-rows: 0.2fr repeat(2,1fr);
    background-color: var(--secondary-blue);
    margin: 0;
    padding:  100px 100px;
    height: auto;
    row-gap: 20px;
}

.house-tours-header {
    grid-area: 1/1/2/13;
    justify-self: center;
}

.house-card {
    display: flex;
    background-color: var(--white);
    border-radius: var(--outer-radius);
    padding: 1.5rem;
}

.house-card[mode="horizontal"]{
    flex-direction: row;
    column-gap: 1rem;
}

.house-card[mode="vertical"]{
    flex-direction: column;
    row-gap: 1rem;
}

.house-card[type="house"]:nth-of-type(1) {
    grid-area: 2/1/4/5;
}

.house-card[type="house"]:nth-of-type(2) {
    grid-area: 2/5/3/9;
}

.house-card[type="house"]:nth-of-type(3) {
    grid-area: 3/5/4/9;
}

.house-card[type="house"]:nth-of-type(4) {
    grid-area: 2/9/4/13;
}

.house-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--inner-radius);
}

.house-image-container[mode="vertical"] {
    height: 250px;
    width: 100%;
}

.house-image-container[mode="horizontal"] {
    width: 110px;
    flex-shrink: 0;
    height: 100%;
}

.house-image {
    max-width: 100%;
    object-fit: cover;
}

.house-image[mode="horizontal"]{
    height: 100%;
}

.house-description-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    flex: 1 1;
    justify-content: space-between;
}

.house-description-header {
    text-align: left;
    color: var(--house-section-blue);
}

.house-name {
    color: var(--house-section-blue);
    text-align: left;
    font-size: var(--medium-font-size);
}

.house-description {
    text-align: left;
    padding: 0.25rem 0rem;
    color: var(--house-section-blue);
}

.house-description-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
}

.money-color {
    font-weight: bold;
    color: var(--copy-brown);
}

.contact-section {
    margin: 100px;
}

.contact-description {
    text-align: left;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.contact-images-section {
    grid-column: 5/13;
}

.contact-images {
    grid-template-columns: repeat(8,1fr);
    column-gap: 20px;
    display: grid;
}

.contact-background {
    background-color: var(--secondary-brown);
    border-radius: var(--outer-radius);
    padding: 1.5rem;
}

.make-text-go-left {
    text-align: left;
}

.contact-card[type="contact"]:nth-of-type(1) {
    width: 100px;
}

.contact-card[type="contact"]:nth-of-type(2) {
    width: 100px;
}